In [43]:
#importing Dependancies
import pandas as pd;
import sqlite3 as sqlite
conn = sqlite.connect('{}'.format("data/tracker_info.sqlite"))

In [44]:
#import coordinates CSV file
coordinates_file = "data/country_long_lat.csv"
# Store imported coordinates file as a new DF 
country_coor_df = pd.read_csv(coordinates_file)

In [45]:
#Pulling in the CSV file and changing to DataFrame
csv_path = "data/proj3data.csv"

tracker_data = pd.read_csv(csv_path)

tracker_data.head()

,Company name,Device name,Crowd funded,County of origin,Region,Release year,Form factor,Accelerometer,Gyroscope,Magnetometer,Barometer,GPS,PPG
0,Actofit,Fitness Tracker,True,India,Asia-Pacific,2017.0,tracker,True,True,True,False,False,True
1,Adidas,MiCoach Fit Smart,False,Germany,Europe,2014.0,tracker,True,False,False,False,False,True
2,Adidas,MiCoach Smart Run,False,Germany,Europe,2013.0,watch,True,False,False,False,True,True
3,Airon,105,False,Norway,Europe,2014.0,tracker,True,False,False,False,False,False
4,Alcatel,Onetouch GO Watch,False,China,Asia-Pacific,2015.0,watch,True,True,True,False,False,True

In [46]:
#checking initial info 
tracker_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423 entries, 0 to 422
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company name      423 non-null    object
 1   Device name       423 non-null    object
 2   Crowd funded      423 non-null    bool
 3   County of origin  422 non-null    object
 4   Region            422 non-null    object
 5   Release year      406 non-null    float64
 6   Form factor       423 non-null    object
 7   Accelerometer     423 non-null    bool
 8   Gyroscope         423 non-null    bool
 9   Magnetometer      423 non-null    bool
 10  Barometer         423 non-null    bool
 11  GPS               423 non-null    bool
 12  PPG               423 non-null    bool
dtypes: bool(7), float64(1), object(5)
memory usage: 22.8+ KB

In [47]:
# Dropping all the rows with No Values
tracker_data = tracker_data.dropna(how="any")

In [48]:
#Verifying Dropna worked and now totals are all matching up correctly
tracker_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 0 to 422
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company name      406 non-null    object
 1   Device name       406 non-null    object
 2   Crowd funded      406 non-null    bool
 3   County of origin  406 non-null    object
 4   Region            406 non-null    object
 5   Release year      406 non-null    float64
 6   Form factor       406 non-null    object
 7   Accelerometer     406 non-null    bool
 8   Gyroscope         406 non-null    bool
 9   Magnetometer      406 non-null    bool
 10  Barometer         406 non-null    bool
 11  GPS               406 non-null    bool
 12  PPG               406 non-null    bool
dtypes: bool(7), float64(1), object(5)
memory usage: 25.0+ KB

In [49]:
#checking column headers
tracker_data.head()

,Company name,Device name,Crowd funded,County of origin,Region,Release year,Form factor,Accelerometer,Gyroscope,Magnetometer,Barometer,GPS,PPG
0,Actofit,Fitness Tracker,True,India,Asia-Pacific,2017.0,tracker,True,True,True,False,False,True
1,Adidas,MiCoach Fit Smart,False,Germany,Europe,2014.0,tracker,True,False,False,False,False,True
2,Adidas,MiCoach Smart Run,False,Germany,Europe,2013.0,watch,True,False,False,False,True,True
3,Airon,105,False,Norway,Europe,2014.0,tracker,True,False,False,False,False,False
4,Alcatel,Onetouch GO Watch,False,China,Asia-Pacific,2015.0,watch,True,True,True,False,False,True

In [50]:
#Renamed Company, Device, Country, Type and Heart Rate to a cleaner name. 
renamed_tracker_data = tracker_data.rename(columns={"Company name" : "Company" , "Device name" : "Device" , "Crowd funded" : "Crowdfunded", "County of origin": "Country", "Release year" : "Releaseyear", "PPG": "Heartrate", "Form factor": "Type"})
renamed_tracker_data.head(1)

,Company,Device,Crowdfunded,Country,Region,Releaseyear,Type,Accelerometer,Gyroscope,Magnetometer,Barometer,GPS,Heartrate
0,Actofit,Fitness Tracker,True,India,Asia-Pacific,2017.0,tracker,True,True,True,False,False,True

In [51]:
# Validating Unique names of companies
renamed_tracker_data["Country"].sort_values().unique()

array(['Australia', 'Austria', 'Canada', 'China', 'Denmark', 'England',
       'Finland', 'France', 'Germany', 'India', 'Italy', 'Japan',
       'Netherlands', 'Norway', 'Poland', 'Romania', 'Russia',
       'South Korea', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'USA'], dtype=object)

In [52]:
#Change Release year, Company, Device, Country of Origin, and Type to stings 
renamed_tracker_data ["Releaseyear"] = renamed_tracker_data["Releaseyear"].astype(int)
renamed_tracker_data ["Company"] = renamed_tracker_data["Company"].astype("string")
renamed_tracker_data ["Device"] = renamed_tracker_data["Device"].astype("string")
renamed_tracker_data ["Country"] = renamed_tracker_data["Country"].astype("string")
renamed_tracker_data ["Type"] = renamed_tracker_data["Type"].astype("string")
renamed_tracker_data ["Region"] = renamed_tracker_data["Region"].astype("string")
renamed_tracker_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 406 entries, 0 to 422
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company        406 non-null    string
 1   Device         406 non-null    string
 2   Crowdfunded    406 non-null    bool
 3   Country        406 non-null    string
 4   Region         406 non-null    string
 5   Releaseyear    406 non-null    int64
 6   Type           406 non-null    string
 7   Accelerometer  406 non-null    bool
 8   Gyroscope      406 non-null    bool
 9   Magnetometer   406 non-null    bool
 10  Barometer      406 non-null    bool
 11  GPS            406 non-null    bool
 12  Heartrate      406 non-null    bool
dtypes: bool(7), int64(1), string(5)
memory usage: 25.0 KB

In [53]:
country_coor_df = pd.read_csv(coordinates_file)

country_coor_df.head()

     Country        lat        long                 latlong
0     Canada  59.619718 -110.281201  59.619718, -110.281201
1        USA  39.092208 -102.600245  39.092208, -102.600245
2   Thailand  15.870032  100.992538    15.870032,100.992538
3      India  22.041597   79.019626     22.041597,79.019626
4  Australia -25.274399  133.775131   -25.274399,133.775131

In [54]:
renamed_tracker_data2 = pd.merge(renamed_tracker_data, country_coor_df, how="left", on=["Country", "Country"])
renamed_tracker_data2.head()

,Company,Device,Crowdfunded,Country,Region,Releaseyear,Type,Accelerometer,Gyroscope,Magnetometer,Barometer,GPS,Heartrate,lat,long,latlong
0,Actofit,Fitness Tracker,True,India,Asia-Pacific,2017,tracker,True,True,True,False,False,True,22.041597,79.019626,"22.041597,79.019626"
1,Adidas,MiCoach Fit Smart,False,Germany,Europe,2014,tracker,True,False,False,False,False,True,51.165691,10.451526,"51.165691,10.451526"
2,Adidas,MiCoach Smart Run,False,Germany,Europe,2013,watch,True,False,False,False,True,True,51.165691,10.451526,"51.165691,10.451526"
3,Airon,105,False,Norway,Europe,2014,tracker,True,False,False,False,False,False,60.472023,8.468946,"60.472023,8.468946"
4,Alcatel,Onetouch GO Watch,False,China,Asia-Pacific,2015,watch,True,True,True,False,False,True,35.861660,104.195396,"35.86166,104.195396"

In [55]:
#Export the DataFrame
renamed_tracker_data2.to_sql("tracker",conn, if_exists="replace")

406

In [56]:
df=pd.read_sql("select * from {}".format("tracker"),conn)
conn.close()
df.head()

,index,Company,Device,Crowdfunded,Country,Region,Releaseyear,Type,Accelerometer,Gyroscope,Magnetometer,Barometer,GPS,Heartrate,lat,long,latlong
0,0,Actofit,Fitness Tracker,1,India,Asia-Pacific,2017,tracker,1,1,1,0,0,1,22.041597,79.019626,"22.041597,79.019626"
1,1,Adidas,MiCoach Fit Smart,0,Germany,Europe,2014,tracker,1,0,0,0,0,1,51.165691,10.451526,"51.165691,10.451526"
2,2,Adidas,MiCoach Smart Run,0,Germany,Europe,2013,watch,1,0,0,0,1,1,51.165691,10.451526,"51.165691,10.451526"
3,3,Airon,105,0,Norway,Europe,2014,tracker,1,0,0,0,0,0,60.472023,8.468946,"60.472023,8.468946"
4,4,Alcatel,Onetouch GO Watch,0,China,Asia-Pacific,2015,watch,1,1,1,0,0,1,35.861660,104.195396,"35.86166,104.195396"